<template name="RegistrationTableLayout">
	<bottom>	
		{{#if Template.subscriptionsReady}}
			<h1>Active Registrations</h1>
			<div id="registration-list">
<!-- 				{{> tabular table=TabularTables.Hikers class="table table-striped table-bordered table-condensed"}}
 --><!-- 				{{> reactiveTable collection=hikers class="table table-bordered table-striped table-hover" fields=fields}} -->
				{{> ReactiveDatatable tableData=reactiveDataFunction options=optionsObject }}
			</div>
		{{/if}}
	</bottom>
</template>